/* .footerAbajo{
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #f8f9fa;
            padding: 10px;
            border-top: 1px solid #dee2e6;
            display: none; 
} 
.colorBody{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
main{
    flex: 1;
} */