#fondo{
    background-image:url('../images/img_login.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
#contenido{
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 70vw;
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}