.hidden {
    display: none;
}
.drag-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px dashed black;
    width: 100% ;
    height: 200px;
  }
  .drag-area.active{
    background-color: lightblue;
    border: gold 1px dashed;
    
}
.active{
  background-color: lightblue;
}