
.formulario__grupo-correcto .form-control {
    border-color: #28a745; 
}

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #28a745; 
}

/* Estilos para cuando el campo es incorrecto */
.formulario__grupo-incorrecto .form-control {
    border-color: #dc3545; /* Borde rojo */
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #dc3545; /* Color del ícono rojo */
}

/* Estilos para el mensaje de error */
.formulario__input-error-activo {
    display: block; /* Mostrar el mensaje de error */
    color: #dc3545; /* Color del texto del mensaje de error */
}
.formulario__grupo-input {
	position: relative;
}


.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}


.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}




.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}